@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
   font-family: 'Poppins', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   text-decoration: none;
}


:root{
    --red: #e81c11;
    --white: #fff;
    --green: #7ebb40;
    --gray: #f5f5f5;
    --black: #222;
}

body{
   
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--green);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
  width: 70px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background-color: var(--white);
}

.navigation ul li:nth-child(1)  {
    margin-bottom: 40px;
  
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    font-weight: 600;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--red);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


.navigation ul li:nth-child(1):hover a::before  {
    border-radius: none;
  
}

.menu{
    position: absolute;
    width: calc(100% - 300px) ;
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.menu.active{
    width: calc(100% - 55px) ;
    left: 55px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menu .topbar .profile{
    position: absolute;
    top:10%; right: 1.2rem;
    background-color: rgba(14, 245, 72, 0.966);
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: .2s linear;
    width: 20rem;
 }
 
 .menu .topbar .profile.active{
    transform: scale(1);
 }
 
 .menu .topbar .profile .image{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
 }
 
 .menu .topbar .profile .name{
    font-size: 2rem;
    color:#e81c11;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }


.option-btn{
   border-radius: .5rem;
   color:#fff;
   font-size: 1rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:0.3rem 2rem;
   text-align: center;
   margin-top: 1rem;
}

.option-btn{
   display: block;
   width: 100%;
}



.option-btn{
   background-color:#7ebb40;
}


.option-btn:hover{
   background-color:#18b7ff;
   color: #e81c11;
   font-weight: 700;
}

 .flex-btn{
    display: flex;
    gap: 1rem;
 }

.toggle{
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.Bienvenue{
    position: relative;
    margin-top: 35px;
    width: 60px;
    height: 60px;
  justify-content: center;

}

.Bienvenue p{
    font-weight: 600;
    color: #222;
   font-size: 1rem;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid #ccc;
}

.search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container{
    min-height: 100vh;
    background: url(images/fnddd.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.message{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #e81c11c7;
    color: #fff;
    font-size: 20px;
}

.form-container form{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    text-align: center;
    width: 500px;
    border-radius: 5px;
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    border: none;
    margin: 1rem 0;
    font-size: 1rem;
    color: var(--black);
    padding: 1rem;
    background-color:#d2edfad2;
}

.form-container form input{
    height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000;
  font-weight: 600;
  padding: 0 35px 0 5px;
   }

   .form-container form select{
    height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000;
  font-weight: 600;
  padding: 0 35px 0 5px;
   }

.form-container form [type = "submit"]{
    background-color: #e81c11;
    cursor: pointer;
}

.form-container form [type = "submit"]:hover{
    background-color: rgb(130, 197, 29);
 }


 
.btn-aj{
    margin-top: 250px;
    margin-left: 20px;
    background-color: #e81c11;
    outline: none;
    width: 300px;
    border: none;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.btn-aj a{
    color: #fff;
}

.btn-ac{
    margin-top: 250px;
    margin-left: 32rem;
    background-color: #1270e4;
    outline: none;
    width: 300px;
    border: none;
    height: 45px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.btn-ac a{
    color: #fff;
}

.btn-rt{
  position: absolute;
  margin-top: 47rem;
    background-color: #e81c11;
    outline: none;
    width: 200px;
    border: none;
    height: 45px;
    border-radius: 400px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.btn-rt a{
    color: #fff;
}

.btn-rt a:hover{
    color: #7ebb40;
}

.con{
    margin-top: 15px ;
    width: 10%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #11e84ea5;
    color: #fff;
    font-size: 20px;
}

.sup{
    margin-top: 15px ;
    width: 10%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #e81c11b7;
    color: #fff;
    font-size: 20px;
}

.tab1{
    background-color: #f4655d;
}

.tab2{
    background-color: #5dc2f4a9;
}

.btn-sup{
    margin-top: 15px ;
    width: 5%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #e81c11ff;
    color: #fff;
    font-size: 10px;
}

.btn-sup a{
    color: #fff;
}

.btn-mod{
    margin-top: 15px ;
    width: 5%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: rgb(14, 245, 72);
    color: #fff;
    font-size: 10px;
}

.btn-mod a{
    color: #000;
}

.form-container textarea{
    width: 450px;
    height: 300px;
    outline: none;
  font-weight: 400;
  border-radius: .5rem;
  resize: none;
    border: none;
    color: var(--black);
    padding: 1rem;
    background-color:#d2edfad2;
}

.reussi{
    margin: 5px 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #e81c11c7;
    color: #fff;
    font-size: 20px;
}
.dashboard{
    margin-left: 20px;
    background-image: url(images/circle-scatter-haikei.png);
    background-size: cover;
}

.dashboard .box-container{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
 }
 
 .dashboard .heading{
    margin-top: 7rem;
    text-align: center;
    color: #18b7ff;
    font-size: 1rem;
    text-transform: capitalize;
    width: 30px auto;
  
   
 }
 
 .dashboard .box-container .box{
    padding: 2rem;
    border-radius: 1rem;
    background-color:#fff;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
 }
 
 .dashboard .box-container .box h3{
    margin-bottom: .5rem;
    font-size: 1rem;
    color: #7ebb40;
    margin-bottom: 1.5rem;
    border-bottom: 2px dashed #e81c11;
 }
 
 .dashboard .box-container .box p{
    font-size: 20px;
    color: #e81c11;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    background-color: #bab1b12f;
    margin: 1rem 0;
 }

 .dashboard .box-container .box a{
    font-size: 15px;
   color: #18b7ff;
   
 }

 .dashboard .box-container .box a:hover{
   
   color: #e81c11;
   text-decoration: underline;
   
 }

 .form-containerr{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem;
 }
 
 .form-containerr form{
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
 }
 
 
 .form-containerr .register{
    width: 80rem;
 }
 
 .form-containerr form h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #e81c11;
    border-bottom: 2px dashed #7ebb40;
    text-transform: capitalize;
 }
 
 .form-containerr form p{
    padding-top: 1rem;
    font-size: 1rem;
    color: #7ebb40;
 }
 
 .form-containerr form p span{
    color: var(--red);
 }
 
 
 
 .form-containerr form .box{
    width: 100%;
    border-radius: .5rem;
    border: none;
    margin: 1rem 0;
    font-size: 1rem;
    color: var(--black);
    padding: 1rem;
    background-color:#d2edfad2;
 }
 
 .form-containerr .flex{
    display: flex;
    gap: 2rem;
 }
 
 .form-containerr .flex .col{
    flex: 1 1 25rem;
 }
 
  .check{
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    color: #e81c11;
    border-radius: .5rem;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    cursor: pointer;
 }

 
 
  .mdp{
   position: relative;
   padding: .2rem;
   transform: scale(0);
 }
 
  .mdp.open{
    transform: scale(1);
 }

 .btn1{
   border-radius: .5rem;
   border: none;
   color:#fff;
   font-size: 1rem;
   cursor: pointer;
   text-transform: capitalize;
   padding:1rem;
   text-align: center;
   margin-top: 1rem;
}

.btn1{
   display: block;
   width: 100%;
}



.btn1{
   background-color:#7ebb40;
}




.btn1:hover{
   background-color: white;
   color: red;
   box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.btn-rep a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .btn-rep a:hover {
    background-color: #2980b9;
  }

  .contaiiner{
    margin-top: 95px;
    margin-left: 28px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
    border-radius: 5px;
    padding: 1.2rem;
  }

  .contaiiner h2{
    text-decoration: underline;
    color: #9a201a;
  }

  .contaiiner strong{
    color: #18b7ff;
  }

  .contaiiner p{
    width: 100%;
    border-radius: .5rem;
    border: none;
    margin: 0.2rem 0;
    font-size: 1rem;
    color: var(--black);
    padding: 0.4rem;
    background-color:#d2edfad2;
  }

  .btn-mode input{
    border: none;
    outline: none;
  background: transparent;

}

.btn-mode a{
    color: #fff;
    font-size: 10px;
    font-weight: 800;
}

  .btn-mode{
    margin-top: 15px ;
    width: 8%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: rgb(14, 245, 72);
    margin-left: 1.5rem;
    cursor: pointer;
}

.btn-mode:hover{
  background-color: #7ebb40;
}

.btn-mode a:hover{
    color: #000;
  }

  .image_etudiant img{
    display: block;
    width: 100%;
    object-fit: cover;
}


.descount .box-container{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
 }
 
 .descount .heading{
    margin-top: 7rem;
    text-align: center;
    color: #18b7ff;
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 30px auto;
  
   
 }
 
 .descount .box-container .box{
    padding: 2rem;
    border-radius: 1rem;
    background-color:#fff;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
 }
 
 .descount .box-container .box h3{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #7ebb40;
    margin-bottom: 1.5rem;
 }
 
 .descount .box-container .box p{
    font-size: 20px;
    color: #e81c11;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    background-color: #bab1b12f;
    margin: 1rem 0;
 }

 