@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none;
    border: none;
   text-decoration: none;
}

.connexions{
    width: 100%;
    height: 100vh;
    background: url('images/fnddd.png') no-repeat;
    background-size: cover;
    
  }

.connexion{
    position:relative;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 480px;
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.544);
    border-radius: 15px;
     padding: 50px;
  }
  
  .connexion h2{
    text-align: center;
    border-bottom: 3px dashed #D84515;
  }
  
  .input-boite{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f01307;
    margin: 30px 0;
  }
  
  .input-boite label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(19, 151, 78);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }
  
  .input-boite input:focus~label,
  .input-boite input:valid~label{
    top: -5px;
  }
  
  
  .input-boite input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000;
    font-weight: 600;
    padding: 15px;
  }
  
  .input-boite .icone{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #2b5205;
    line-height: 57px;
  }

  .input-boite .pw_hide{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #2b5205;
    line-height: 57px;
  }
  
  .input-boite .ps_hide{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #2b5205;
    line-height: 57px;
  }
  
  .remember{
    font-size: 15px;
    color: #f01307;
    font-weight: 500;
    margin: 70px 0 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .remember{
   accent-color:#f01307 ;
   margin-right: 3px;
  }
  
  .remember{
      color: green;
      font-size: 15px;
      text-decoration: none;
   }
   
   .remember a:hover {
    
    text-decoration: underline;
    color: #D84515;
  }
  
  
  .button {
    width: 130px;
    height: 58px;
     font-size: 1em;
     color: #fff;
     background-color: rgb(19, 151, 78);
     font-weight: 500;
     border: none;
     border-radius: 15px;
     cursor: pointer;
     margin-left: 40px;
  }
  
  .button:hover{
    color: rgb(19, 151, 78);
    background-color: #fff;
  }
  
  .button:active {
    transform: scale(0.98);
  }

  .login-link{
    width: 100%;
    height: 45px;
    background: #e81c11;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
  }

  .lienprof{
    display: flex;
    position: absolute;
    bottom: 30px;
  }
 
  .lienprof p{
    color: #000;
    font-weight: 700;
   
  }
 
  .lienprof a{
    color: rgb(13, 0, 255);
    font-weight: 500;
  }
 
  .lienprof a:hover{
   text-decoration: underline;
  }



 #messageErreurMotDePasse{
    background-color: #f013077b;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    padding: .5rem;
    color: #000;
    }

  
  .erreur.form{
  background-color: #f013077b;
  border: 1px solid #f7f7f7;
  border-radius: 2px;
  }
  
  .erreur span{
    font-size: 1rem;
    color:black;
    text-align: center;
  }
  
  .erreur .bi{
    color: #f01307;
    padding: 5px;
  }

  .erreur .i{
    color: #000000;
   display: flex;
   justify-content: flex-end;
  }

  .erreur .fas:hover{
    transform: rotate(90deg);
  }
  
  
  .message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .message.form{
   max-width: 300px;
   margin-top: 300px;
   height: 200px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 5000;
    background-color: rgb(253, 251, 251);
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    top: 7rem;
    border-radius: .5rem;
    z-index: 50000;
  }
  
  .message p{
    font-size: 1rem;
    color:black;
    text-align: center;
  }
  
  .message i{
    position: absolute;
    display: flex;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    color:rgb(3, 192, 255);
    cursor: pointer;
    transition: .2s linear;
  }
   