section{
    padding:2rem;
    max-width: 1200px;
    margin: 0 auto;
 }
 
 .btn,
 .option-btn,
 .delete-btn,
 .inline-btn,
 .inline-option-btn,
 .inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
 }
 
 .btn,
 .option-btn,
 .delete-btn{
    display: block;
    width: 100%;
 }
 
 .inline-btn,
 .inline-option-btn,
 .inline-delete-btn{
    display: inline-block;
 }
 
 .btn,
 .inline-btn{
    background-color: var(--main-color);
 }
 
 .option-btn,
 .inline-option-btn{
    background-color: var(--oragen);
 }
 
 .delete-btn,
 .inline-delete-btn{
    background-color: var(--red);
 }
 
 .btn:hover,
 .option-btn:hover,
 .delete-btn:hover,
 .inline-btn:hover,
 .inline-option-btn:hover,
 .inline-delete-btn:hover{
    background-color: var(--black);
    color: var(--white);
 }
 
 .flex-btn{
    display:flex;
    gap: 1rem;
 }